* {
  font-family: "Noto Sans KR", serif;
}

.jumbotron {
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.jumbotron > figure {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-image: url("./images/main_visual_01.jpg");
}

.jumbotron > .motto {
  color: white;
  text-align: center;
  z-index: 1;
  overflow: hidden;
}
.jumbotron > .motto > h2 {
  font-size: 70px;
  font-weight: bold;
  margin-bottom: 30px;
}
.jumbotron > .motto > strong {
  font-size: 20px;
  overflow: hidden;
}

.jumbotron > .boundary__area {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  z-index: 1;
}
.jumbotron > .boundary__area > .boundary {
  flex: 1;
  text-align: center;
  padding-bottom: 50px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
.jumbotron > .boundary__area > .boundary > span {
  font-size: 30px;
  color: skyblue;

  /* opacity: 0.2; */
}
